

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
            margin-left: 20%;
            height: 90%;
            overflow-y: auto;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }
    </style>
</head>

<body>
    <div class="container justify-content-center">
    <% if(payments.length>0){ %>
        <div class="row" style="width: 100%;">
            <h1 style="margin-left: 35%;">Received Payments</h1>
        </div>
        <div class="row" style="width: 100%; overflow: auto;">
            
            <table class="table-info" style="margin-left: 0;">
                <thead>
                    <tr>
                        <th>Transaction No</th>
                        <th>Trip ID</th>
                        <th>Username</th>
                        <th>Amount</th>
                        <th>Payment Time</th>
                    </tr>
                </thead>
                <tbody>
                    <% payments.forEach(function(payment) { %>
                        <tr>
                            <td>
                                <%= payment.TRANSACTION_NO %>
                            </td>
                            <td>
                                <%= payment.TR_ID %>
                            </td>
                            <td>
                                <%= payment.USERNAME %>
                            </td>
                            <td>
                                <%= payment.AMOUNT %>
                            </td>
                            <td>
                                <%= payment.PAYMENT_TIME %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        
        </div>
        <% } else {%>
            <h1 style="margin-left: 30%;">You have not received any payment</h1>
            <% } %>
        </div>
</body>

