<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Requests</title>
    <style>
        /* Add your CSS styling here */
        body {
            font-family: Arial, sans-serif;
        }
        .request-container {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .request-details {
            flex: 1;
        }
        .accept-button {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
        p{
            margin-left: 30%;
        }
        </style>
</head>
<body>
    <h1 style="margin-left: 50%;">Driver Requests</h1>

    <% if (allRequests.length == 0) { %>
        <p style="margin-left: 50%;">No requests available.</p>
    <% } else { %>
        <% allRequests.forEach(nearbyReq => { %>
            <div class="request-container",style="margin-left:60%">
                <div class="request-details",style="margin:left:60%">
                    <p><strong>Username:</strong> <%= nearbyReq.USERNAME %></p>
                    <p><strong>Pick-up:</strong> <%= nearbyReq.PICK_UP %></p>
                    <p><strong>Drop-off:</strong> <%= nearbyReq.DROP_OFF %></p>
                    <p><strong>Pick-Up Distance:</strong> <%= nearbyReq.DISTANCE %> </p>
                    <p><strong>Pick-Up within:</strong> <%= nearbyReq.DURATION %> </p>
                </div>
                <a href="accept/<%=nearbyReq.ID %>"><button>Accept</button></a>
            </div>
        <% }); %>
    <% } %>
</body>
</html>
