
<h3 style="margin-left:50%">ACCCCCCCCCCCCCCCEEEPTED <%=trip_info.TR_ID %> </h3>
<script>
    localStorage.setItem('plt', <%= trip_info.PLAT %>);
    localStorage.setItem('plg', <%= trip_info.PLNG %>);
    localStorage.setItem('dlt', <%= trip_info.DLAT %>);
    localStorage.setItem('dlg', <%= trip_info.DLNG %>);
</script>

<iframe src="/steps.html" style="height: 80vh"></iframe> 

