
<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/signup.css">


</head>

<body style="background:url('../../images/background.jpg');">
    <div >
        <div class="loginBox">

            <h2>Vehicle Information</h2>
            <form action="/driver/info/editvehicle" method="POST">
                <p>Plate</p>
                <input type="text" name="plate" required value="<%= (typeof form != 'undefined') ? form.plate : '' %>">
                <p>Model</p>
                <input type="text" name="model" required value="<%= (typeof form != 'undefined') ? form.model : '' %>">


                <p>Company</p>
                <input type="text" name="company" required
                    value="<%= (typeof form != 'undefined') ? form.company : '' %>">

                <p>Type</p>
                <input type="text" name="type" required
                    value="<%= (typeof form != 'undefined') ? form.type : '' %>">

               

                <input type="submit" name="" value="Submit">

                <% if (errors.length> 0) { %>
                    <div class="row m-2 mx-0 pb-0 alert alert-danger">
                        <ul>
                            <% for (e of errors) { %>
                                <li>
                                    <%= e %>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <% } %>

            </form>
        </div>
    </div>
</body>

</html>