
<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/signup.css">


</head>

<body style="background:url('../../images/background.jpg');">
    <div >
        <div class="loginBox">

           
            <h2>Profile Information</h2>
            <form action="/user/info/edit" method="POST">
                <p>Name</p>
                <input type="text" name="name" required value="<%= (typeof form != 'undefined') ? form.name : '' %>">
                <p>Email</p>
                <input type="email" name="email" required value="<%= (typeof form != 'undefined') ? form.email : '' %>">


                <p>Phone</p>
                <input type="number" name="phone" required
                    value="<%= (typeof form != 'undefined') ? form.phone : '' %>" >

                <p>Wallet ID</p>
                <input type="text" name="wallet" required
                    value="<%= (typeof form != 'undefined') ? form.wallet : '' %>">

                <p>Gender(M/F)</p>
                <input type="text" name="sex" required
                    value="<%= (typeof form != 'undefined') ? form.sex : '' %>" pattern="M|F">


                <input type="submit" name="" value="Confirm Edit">

                <% if (errors.length> 0) { %>
                    <div class="row m-2 mx-0 pb-0 alert alert-danger">
                        <ul>
                            <% for (e of errors) { %>
                                <li>
                                    <%= e %>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <% } %>

            </form>

        </div>
    </div>
</body>

</html>