<h3 style="margin-left: 50%;">Your are in a trip </h3>

<div class="request-details",style="margin-left:60%">
    <p style="margin-left:60%"><strong>Pick-up:</strong> <%= trip_info.PICK_UP %></p>
    <p style="margin-left:60%"><strong>Drop-off:</strong> <%= trip_info.DROP_OFF %></p>
</div> 

<div class="driver-details",style="margin-left:70%">
    <p style="margin-left:70%" ><strong>Driver Name:</strong> <%= trip_info.DRIVER.NAME %></p>
    <p style="margin-left:70%"><strong>email:</strong> <%= trip_info.DRIVER.EMAIL %></p>
    <p style="margin-left:70%"><strong>Phone:</strong> <%= trip_info.DRIVER.PHONE %></p>
    <p style="margin-left:70%"><strong>Vehicle:</strong> <%= trip_info.DRIVER.PLATE_NO %></p>
    <% if (rating==0){%>
    <p style="margin-left:70%"><strong>Average Rating:</strong>Unrated</p>
<% } else {%>
    <p style="margin-left:70%"><strong>Average Rating:</strong> <%= rating %></p>
    <% } %>
    <p style="margin-left:70%"><strong>Vehicle:</strong> <%= trip_info.DRIVER.PLATE_NO %></p>

    <p style="margin-left:70%"><strong>Vehicle details:</strong> <%= trip_info.V_DETAILS.V_DETAILS %></p>
</div>




<iframe src="/running.html" style="height: 80vh"></iframe> 

<script>
    var timer;
    async function check() {
      const data =  await fetch('user/trip_status')
      const text = await data.text();
      //alert("got text from trip_status: " + text);
        if(text.includes('completed') ) {
            alert('Your Trip has been completed')
            clearInterval(timer);
            window.location = '/user/completed';
        }
        else if(text.includes('already done') ) {
           // alert('Your Ride Request Has ALREEEEEEAAAAAAAAADY Been Accepted')
            clearInterval(timer);
            //window.location = '/user/running'
        }

    }
    
    timer = setInterval(check, 5000);
</script>
