

    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/usersign.css">
    
    
    </head>
    
    <body style="background:url('../../images/background.jpg');">
        <div >
            <div class="loginBox">
    
                <img src="../../images/user.png" class="user">
                <h2>Sign Up</h2>
                <form action="/user/signup" method="POST">
                    <p>Username</p>
                    <input type="text" name="username" required value="<%= (typeof form != 'undefined') ? form.username : '' %>">

                    <p>Name</p>
                    <input type="text" name="name" required value="<%= (typeof form != 'undefined') ? form.name : '' %>">
                    <p>Email</p>
                    <input type="email" name="email" required value="<%= (typeof form != 'undefined') ? form.email : '' %>">
    
    
                    <p>Phone</p>
                    <input type="number" name="phone" required
                        value="<%= (typeof form != 'undefined') ? form.phone : '' %>" minlength="11" maxlength="11">
    
                    <p>Password</p>
                    <input type="password" name="password" required
                        value="<%= (typeof form != 'undefined') ? form.password : '' %>">
    
                    <p>Confirm Password</p>
                    <input type="password" name="password2" required
                        value="<%= (typeof form != 'undefined') ? form.password2 : '' %>">
    
    
                    <input type="submit" name="" value="sign up">
    
                    <% if (errors.length> 0) { %>
                        <div class="row m-2 mx-0 pb-0 alert alert-danger">
                            <ul>
                                <% for (e of errors) { %>
                                    <li>
                                        <%= e %>
                                    </li>
                                    <% } %>
                            </ul>
                        </div>
                        <% } %>
    
                </form>
    
                <div class="d-flex justify-content-around">
                    <p>Already have an account?<a class="js--registration-form-btn" href="/user/login"><b>Login
                                Now!</b></a>
                    </p>
                </div>
            </div>
        </div>
    </body>
    
    </html>

